.DS_Store
spec-changes.md
*.egg-info
/build
__pycache__
.ipynb_checkpoints
*.pyc
venv
notebooks/reorgv2/beaconrunner/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/altair/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/altair/spec.py
notebooks/reorgv2/beaconrunner/eth2spec/config/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/config/config_util.py
notebooks/reorgv2/beaconrunner/eth2spec/config/README.md
notebooks/reorgv2/beaconrunner/eth2spec/debug/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/debug/decode.py
notebooks/reorgv2/beaconrunner/eth2spec/debug/encode.py
notebooks/reorgv2/beaconrunner/eth2spec/debug/random_value.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/gen_base/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/gen_base/gen_runner.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/gen_base/gen_typing.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/gen_from_tests/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/gen_from_tests/gen.py
notebooks/reorgv2/beaconrunner/eth2spec/gen_helpers/README.md
notebooks/reorgv2/beaconrunner/eth2spec/phase0/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/phase0/spec.py
notebooks/reorgv2/beaconrunner/eth2spec/phase1/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/phase1/spec.py
notebooks/reorgv2/beaconrunner/eth2spec/test/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/block_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/block_processing/test_process_sync_committee.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/epoch_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/fork/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/fork/test_fork.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/sanity/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/sanity/test_blocks.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/unittests/test_helpers.py
notebooks/reorgv2/beaconrunner/eth2spec/test/altair/unittests/test_sync_protocol.py
notebooks/reorgv2/beaconrunner/eth2spec/test/conftest.py
notebooks/reorgv2/beaconrunner/eth2spec/test/context.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/test_process_attestation.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/test_process_chunk_challenge.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/test_process_custody_key_reveal.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/test_process_custody_slashing.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/block_processing/test_process_early_derived_secret_reveal.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/epoch_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/epoch_processing/test_process_challenge_deadlines.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/epoch_processing/test_process_custody_final_updates.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/epoch_processing/test_process_reveal_deadlines.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/sanity/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/custody_game/sanity/test_blocks.py
notebooks/reorgv2/beaconrunner/eth2spec/test/exceptions.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/attestations.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/attester_slashings.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/block.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/block_header.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/block_processing.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/custody.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/deposits.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/epoch_processing.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/fork_choice.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/genesis.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/keys.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/merkle.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/multi_operations.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/proposer_slashings.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/rewards.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/shard_block.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/state.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/sync_committee.py
notebooks/reorgv2/beaconrunner/eth2spec/test/helpers/voluntary_exits.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_attestation.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_block_header.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_deposit.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_proposer_slashing.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/block_processing/test_process_voluntary_exit.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_effective_balance_updates.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_eth1_data_reset.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_historical_roots_update.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_participation_record_updates.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_randao_mixes_reset.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/epoch_processing/test_process_slashings_reset.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/finality/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/finality/test_finality.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/fork_choice/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/fork_choice/test_get_head.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/genesis/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/genesis/test_initialization.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/genesis/test_validity.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/rewards/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/rewards/test_basic.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/rewards/test_leak.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/rewards/test_random.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/sanity/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/sanity/test_blocks.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/sanity/test_slots.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/unittests/fork_choice/test_on_block.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/unittests/fork_choice/test_on_tick.py
notebooks/reorgv2/beaconrunner/eth2spec/test/phase0/unittests/validator/test_validator_unittest.py
notebooks/reorgv2/beaconrunner/eth2spec/test/sharding/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/sharding/unittests/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/test/sharding/unittests/test_get_start_shard.py
notebooks/reorgv2/beaconrunner/eth2spec/test/utils.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/bls.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/hash_function.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/merkle_minimal.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/ssz/__init__.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/ssz/ssz_impl.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/ssz/ssz_typing.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/test_merkle_minimal.py
notebooks/reorgv2/beaconrunner/eth2spec/utils/test_merkle_proof_util.py
notebooks/reorgv2/beaconrunner/eth2spec/VERSION.txt
notebooks/reorgv2/beaconrunner/experiments/default_experiment.py
notebooks/reorgv2/beaconrunner/experiments/plotting.py
notebooks/reorgv2/beaconrunner/experiments/post_processing.py
notebooks/reorgv2/beaconrunner/experiments/run.py
notebooks/reorgv2/beaconrunner/experiments/simulation_configuration.py
notebooks/reorgv2/beaconrunner/experiments/templates/reorg/experiment.py
notebooks/reorgv2/beaconrunner/experiments/templates/reorg/malicious.py
notebooks/reorgv2/beaconrunner/experiments/templates/reorg/observers.py
notebooks/reorgv2/beaconrunner/experiments/templates/rl/experiment.py
notebooks/reorgv2/beaconrunner/experiments/templates/rl/malicious.py
notebooks/reorgv2/beaconrunner/experiments/templates/rl/observers.py
notebooks/reorgv2/beaconrunner/experiments/utils.py
notebooks/reorgv2/beaconrunner/experiments/visualizations/plot_chain.py
notebooks/reorgv2/beaconrunner/model/__init__.py
notebooks/reorgv2/beaconrunner/model/cadCADsupSUP.py
notebooks/reorgv2/beaconrunner/model/eth2.py
notebooks/reorgv2/beaconrunner/model/network.py
notebooks/reorgv2/beaconrunner/model/parts/basic_duties.py
notebooks/reorgv2/beaconrunner/model/parts/observers.py
notebooks/reorgv2/beaconrunner/model/simulator.py
notebooks/reorgv2/beaconrunner/model/specs.py
notebooks/reorgv2/beaconrunner/model/specs_v1_1_0_alpha_3.py
notebooks/reorgv2/beaconrunner/model/specs_v1_1_0_alpha_5.py
notebooks/reorgv2/beaconrunner/model/specs_v1_1_0_alpha_5_pr2453.py
notebooks/reorgv2/beaconrunner/model/specs_v1_1_0_alpha_7.py
notebooks/reorgv2/beaconrunner/model/state_update_blocks.py
notebooks/reorgv2/beaconrunner/model/state_variables.py
notebooks/reorgv2/beaconrunner/model/system_parameters.py
notebooks/reorgv2/beaconrunner/model/utils.py
notebooks/reorgv2/beaconrunner/model/validatorlib.py
notebooks/reorgv2/beaconrunner/model/validators/__init__.py
notebooks/reorgv2/beaconrunner/model/validators/ASAPValidator.py
notebooks/reorgv2/beaconrunner/model/validators/LazyValidator.py
notebooks/reorgv2/beaconrunner/model/validators/MaliciousValidator.py
notebooks/reorgv2/beaconrunner/model/validators/OfflineValidator.py
notebooks/reorgv2/beaconrunner/model/validators/PrudentValidator.py
notebooks/reorgv2/beaconrunner/model/validators/RANDAOValidator.py
notebooks/reorgv2/beaconrunner/model/validators/RLValidator.py
notebooks/reorgv2/reorg.ipynb
notebooks/reorgv2/rl.ipynb
notebooks/reorgv2/rl_algorithms/experiments.ipynb
