[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eth2spec = "*"
matplotlib = "*"
pandas = "*"
jupyterlab = "*"
cadcad = {editable = true, path = "./cadCAD"}

[requires]
python_version = "3.8"
