[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eth2spec = "==0.12.1"
jupyterlab = "*"
pandas = "*"
milagro-bls-binding = "*"
matplotlib = "*"
cadcad = {editable = true, path = "./cadCAD"}

[requires]
python_version = "3.8"
